# DataFrame for the V1 of Recommendation System

In [1]:
import json as simplejson
import pandas as pd
import numpy as np
import json

### Columns for User: Number of Friends, Review Count, Average User Rating, Number of Useful Reactions Given, Number of Cool Reactions Given, Number of Funny Reactions Given

In [2]:
Num_Friends_df = pd.read_json('YelpDataset/user.json', lines=True)

In [3]:
Num_Friends_df.head(2)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.67,0,0,0,0,0,0,0,0,1,...,0,[],0,"[cvVMmlU1ouS3I5fhutaryQ, nj6UZ8tdGo8YJ9lUMTVWN...",0,Johnny,8,0,oMy_rEb0UBEmMlu-zcxnoQ,2014-11-03
1,3.70,0,0,0,0,0,0,0,0,0,...,0,[],0,"[0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gp...",0,Chris,10,0,JJ-aSuM4pCFPdkfoZ34q0Q,2013-09-24

In [4]:
list(Num_Friends_df)

['average_stars',
 'compliment_cool',
 'compliment_cute',
 'compliment_funny',
 'compliment_hot',
 'compliment_list',
 'compliment_more',
 'compliment_note',
 'compliment_photos',
 'compliment_plain',
 'compliment_profile',
 'compliment_writer',
 'cool',
 'elite',
 'fans',
 'friends',
 'funny',
 'name',
 'review_count',
 'useful',
 'user_id',
 'yelping_since']

In [5]:
# 0 for rows, 1 for columns
Num_Friends_df = Num_Friends_df.drop('compliment_cool', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_cute', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_funny', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_hot', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_list', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_more', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_note', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_photos', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_plain', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_profile', 1)
Num_Friends_df = Num_Friends_df.drop('compliment_writer', 1)
Num_Friends_df = Num_Friends_df.drop('elite', 1)
Num_Friends_df = Num_Friends_df.drop('fans', 1)
Num_Friends_df = Num_Friends_df.drop('name', 1)
Num_Friends_df = Num_Friends_df.drop('yelping_since', 1)
Num_Friends_df.head(2)

,average_stars,cool,friends,funny,review_count,useful,user_id
0,4.67,0,"[cvVMmlU1ouS3I5fhutaryQ, nj6UZ8tdGo8YJ9lUMTVWN...",0,8,0,oMy_rEb0UBEmMlu-zcxnoQ
1,3.70,0,"[0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gp...",0,10,0,JJ-aSuM4pCFPdkfoZ34q0Q

In [6]:
Num_Friends_df['num_friends'] = Num_Friends_df['friends'].apply(len)
Num_Friends_df.head(2)

,average_stars,cool,friends,funny,review_count,useful,user_id,num_friends
0,4.67,0,"[cvVMmlU1ouS3I5fhutaryQ, nj6UZ8tdGo8YJ9lUMTVWN...",0,8,0,oMy_rEb0UBEmMlu-zcxnoQ,11
1,3.70,0,"[0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gp...",0,10,0,JJ-aSuM4pCFPdkfoZ34q0Q,79

In [7]:
Num_Friends_df = Num_Friends_df.drop('friends', 1)
Num_Friends_df.head(2)

,average_stars,cool,funny,review_count,useful,user_id,num_friends
0,4.67,0,0,8,0,oMy_rEb0UBEmMlu-zcxnoQ,11
1,3.70,0,0,10,0,JJ-aSuM4pCFPdkfoZ34q0Q,79

In [8]:
User_Cols_df = Num_Friends_df

In [9]:
# Dict for user_id and STARS
dict1_user_STARS = dict(zip(User_Cols_df.user_id, User_Cols_df.average_stars))

In [10]:
first2pairs = {k: dict1_user_STARS[k] for k in list(dict1_user_STARS)[:2]}
print(first2pairs)

{'oMy_rEb0UBEmMlu-zcxnoQ': 4.67, 'JJ-aSuM4pCFPdkfoZ34q0Q': 3.7}

In [11]:
# Dict for user_id and COOL
dict2_user_COOL = dict(zip(User_Cols_df.user_id, User_Cols_df.cool))

In [12]:
first2pairs = {k: dict2_user_COOL[k] for k in list(dict2_user_COOL)[:2]}
print(first2pairs)

{'oMy_rEb0UBEmMlu-zcxnoQ': 0, 'JJ-aSuM4pCFPdkfoZ34q0Q': 0}

In [13]:
# Dict for user_id and FUNNY
dict3_user_FUNNY = dict(zip(User_Cols_df.user_id, User_Cols_df.funny))

In [14]:
first2pairs = {k: dict3_user_FUNNY[k] for k in list(dict3_user_FUNNY)[:2]}
print(first2pairs)

{'oMy_rEb0UBEmMlu-zcxnoQ': 0, 'JJ-aSuM4pCFPdkfoZ34q0Q': 0}

In [15]:
# Dict for user_id and USEFUL
dict4_user_USEFUL = dict(zip(User_Cols_df.user_id, User_Cols_df.useful))

In [16]:
first2pairs = {k: dict4_user_USEFUL[k] for k in list(dict4_user_USEFUL)[:2]}
print(first2pairs)

{'oMy_rEb0UBEmMlu-zcxnoQ': 0, 'JJ-aSuM4pCFPdkfoZ34q0Q': 0}

In [17]:
# Dict for user_id and RCOUNT
dict5_user_RCOUNT = dict(zip(User_Cols_df.user_id, User_Cols_df.review_count))

In [18]:
first2pairs = {k: dict5_user_RCOUNT[k] for k in list(dict5_user_RCOUNT)[:2]}
print(first2pairs)

{'oMy_rEb0UBEmMlu-zcxnoQ': 8, 'JJ-aSuM4pCFPdkfoZ34q0Q': 10}

In [19]:
# Dict for user_id and NUMFRIENDS
dict6_user_NUMFRIENDS = dict(zip(User_Cols_df.user_id, User_Cols_df.num_friends))

In [20]:
first2pairs = {k: dict6_user_NUMFRIENDS[k] for k in list(dict6_user_NUMFRIENDS)[:2]}
print(first2pairs)

{'oMy_rEb0UBEmMlu-zcxnoQ': 11, 'JJ-aSuM4pCFPdkfoZ34q0Q': 79}

### Columns for Item: City, Average Rating, Review Count

In [21]:
Item_Cols_df = pd.read_json('YelpDataset/business.json', lines=True)

In [22]:
Item_Cols_df.head(2)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,"4855 E Warner Rd, Ste B9","{'AcceptsInsurance': True, 'ByAppointmentOnly'...",FYWN1wneV18bWNgQjJ2GNg,"[Dentists, General Dentistry, Health & Medical...",Ahwatukee,"{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...",1,33.330690,-111.978599,Dental by Design,,85044,22,4.0,AZ
1,3101 Washington Rd,"{'BusinessParking': {'garage': False, 'street'...",He-G7vWjzVUysIKrfNbPUQ,"[Hair Stylists, Hair Salons, Men's Hair Salons...",McMurray,"{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0...",1,40.291685,-80.104900,Stephen Szabo Salon,,15317,11,3.0,PA

In [23]:
list(Item_Cols_df)

['address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'neighborhood',
 'postal_code',
 'review_count',
 'stars',
 'state']

In [24]:
Item_Cols_df = Item_Cols_df.drop('address', 1)
Item_Cols_df = Item_Cols_df.drop('attributes', 1)
Item_Cols_df = Item_Cols_df.drop('hours', 1)
Item_Cols_df = Item_Cols_df.drop('is_open', 1)
Item_Cols_df = Item_Cols_df.drop('latitude', 1)
Item_Cols_df = Item_Cols_df.drop('longitude', 1)
Item_Cols_df = Item_Cols_df.drop('name', 1)
Item_Cols_df = Item_Cols_df.drop('neighborhood', 1)
Item_Cols_df = Item_Cols_df.drop('postal_code', 1)
Item_Cols_df = Item_Cols_df.drop('state', 1)

Item_Cols_df.head(2)

,business_id,categories,city,review_count,stars
0,FYWN1wneV18bWNgQjJ2GNg,"[Dentists, General Dentistry, Health & Medical...",Ahwatukee,22,4.0
1,He-G7vWjzVUysIKrfNbPUQ,"[Hair Stylists, Hair Salons, Men's Hair Salons...",McMurray,11,3.0

In [25]:
# Dict for b_id and CITY
dict7_item_CITY = dict(zip(Item_Cols_df.business_id, Item_Cols_df.city))

In [26]:
first2pairs = {k: dict7_item_CITY[k] for k in list(dict7_item_CITY)[:2]}
print(first2pairs)

{'FYWN1wneV18bWNgQjJ2GNg': 'Ahwatukee', 'He-G7vWjzVUysIKrfNbPUQ': 'McMurray'}

In [27]:
# Dict for b_id and REVCNT
dict8_item_REVCNT = dict(zip(Item_Cols_df.business_id, Item_Cols_df.review_count))

In [28]:
first2pairs = {k: dict8_item_REVCNT[k] for k in list(dict8_item_REVCNT)[:2]}
print(first2pairs)

{'FYWN1wneV18bWNgQjJ2GNg': 22, 'He-G7vWjzVUysIKrfNbPUQ': 11}

In [29]:
# Dict for b_id and STARS
dict9_item_STARS = dict(zip(Item_Cols_df.business_id, Item_Cols_df.stars))

In [30]:
first2pairs = {k: dict9_item_STARS[k] for k in list(dict9_item_STARS)[:2]}
print(first2pairs)

{'FYWN1wneV18bWNgQjJ2GNg': 4.0, 'He-G7vWjzVUysIKrfNbPUQ': 3.0}

### Columns for User-Item Interaction: Day of Week, Name of Month

In [31]:
User_Item_df = pd.read_json('YelpDataset/review.json', lines=True)

In [32]:
User_Item_df = User_Item_df.drop('review_id', 1)
User_Item_df = User_Item_df.drop('text', 1)
User_Item_df = User_Item_df.drop('useful', 1)
User_Item_df = User_Item_df.drop('funny', 1)
User_Item_df = User_Item_df.drop('cool', 1)

User_Item_df.head(2)

              business_id       date  stars                 user_id
0  0W4lkclzZThpx3V65bVgig 2016-05-28      5  bv2nCi5Qv5vroFiqKGopiw
1  AEx2SYEUJmTxVVB18LlCwA 2016-05-28      5  bv2nCi5Qv5vroFiqKGopiw

In [33]:
import datetime
def findMonth(date):
    date = date.strftime("%B")
    return date

In [34]:
User_Item_df['name_of_month'] = User_Item_df['date'].apply(findMonth)
User_Item_df.head(2)

,business_id,date,stars,user_id,name_of_month
0,0W4lkclzZThpx3V65bVgig,2016-05-28,5,bv2nCi5Qv5vroFiqKGopiw,May
1,AEx2SYEUJmTxVVB18LlCwA,2016-05-28,5,bv2nCi5Qv5vroFiqKGopiw,May

In [35]:
import calendar
def findDay(date):
    date = calendar.day_name[date.weekday()]
    return date

In [ ]:
User_Item_df['day_of_week'] = User_Item_df['date'].apply(findDay)
User_Item_df.head(2)

### Find the Correct User and Item based on User-Item DataFrame

In [ ]:
RS_DF_1 = User_Item_df

In [ ]:
RS_DF_1.head(2)

In [ ]:
RS_DF_1['user_average_stars'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1['user_cool'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1['user_funny'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1['user_userful'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1['user_num_reviews'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1['user_num_friends'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1['business_city'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1['business_num_reviews'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1['business_average_stars'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
def getVal(id, dictionary):
    return dictionary[id]

In [ ]:
RS_DF_1['user_average_stars'] = RS_DF_1['user_id'].apply(lambda row:getVal(row, dict1_user_STARS))

In [ ]:
RS_DF_1.head(10)

In [ ]:
RS_DF_1['user_cool'] = RS_DF_1['user_id'].apply(lambda row:getVal(row, dict2_user_COOL))

In [ ]:
RS_DF_1['user_funny'] = RS_DF_1['user_id'].apply(lambda row:getVal(row, dict3_user_FUNNY))

In [ ]:
RS_DF_1['user_userful'] = RS_DF_1['user_id'].apply(lambda row:getVal(row, dict4_user_USEFUL))

In [ ]:
RS_DF_1['user_num_reviews'] = RS_DF_1['user_id'].apply(lambda row:getVal(row, dict5_user_RCOUNT))

In [ ]:
RS_DF_1['user_num_friends'] = RS_DF_1['user_id'].apply(lambda row:getVal(row, dict6_user_NUMFRIENDS))

In [ ]:
RS_DF_1['business_city'] = RS_DF_1['business_id'].apply(lambda row:getVal(row, dict7_item_CITY))

In [ ]:
RS_DF_1['business_num_reviews'] = RS_DF_1['business_id'].apply(lambda row:getVal(row, dict8_item_REVCNT))

In [ ]:
RS_DF_1['business_average_stars'] = RS_DF_1['business_id'].apply(lambda row:getVal(row, dict9_item_STARS))

In [ ]:
RS_DF_1.head(10)

### Save the Precious DF

In [ ]:
RS_DF_1.to_csv(path_or_buf="neural_df_untrimmed.csv")

In [ ]:
test_df = pd.read_csv('neural_df_untrimmed.csv')

In [ ]:
test_df.head(3)

In [ ]:
print(len(test_df))

In [ ]:
RS_DF_1_trimmed = RS_DF_1

In [ ]:
RS_DF_1_trimmed = RS_DF_1_trimmed.drop('business_id', 1)

In [ ]:
RS_DF_1_trimmed = RS_DF_1_trimmed.drop('date', 1)

In [ ]:
RS_DF_1_trimmed = RS_DF_1_trimmed.drop('user_id', 1)

In [ ]:
RS_DF_1_trimmed.head(3)

In [ ]:
RS_DF_1_trimmed.to_csv(path_or_buf="neural_df_trimmed.csv")

In [ ]:
test_df_trimmed = pd.read_csv('neural_df_trimmed.csv')

In [ ]:
test_df_trimmed.head(3)

In [ ]:
print(len(test_df_trimmed))

### Encode Categorical Data

In [ ]:
RS_DF_1_trimmed['name_of_month'] = RS_DF_1_trimmed['name_of_month'].astype('category')
RS_DF_1_trimmed.dtypes

In [ ]:
RS_DF_1_trimmed['name_of_month'] = RS_DF_1_trimmed['name_of_month'].cat.codes
RS_DF_1_trimmed.head(5)

In [ ]:
RS_DF_1_trimmed['day_of_week'] = RS_DF_1_trimmed['day_of_week'].astype('category')

In [ ]:
RS_DF_1_trimmed['day_of_week'] = RS_DF_1_trimmed['day_of_week'].cat.codes
RS_DF_1_trimmed.head(10)

In [ ]:
RS_DF_1_trimmed['business_city'] = RS_DF_1_trimmed['business_city'].astype('category')

In [ ]:
RS_DF_1_trimmed['business_city'] = RS_DF_1_trimmed['business_city'].cat.codes
RS_DF_1_trimmed.head(10)

In [ ]:
RS_DF_1_trimmed.to_csv(path_or_buf="neural_df_trimmed_encoded.csv")

In [ ]:
test_df_trimmed_encoded = pd.read_csv('neural_df_trimmed_encoded.csv')

In [ ]:
test_df_trimmed_encoded.head(3)

In [ ]:
print(len(test_df_trimmed_encoded))

### Normalize Encoded Data

In [ ]:
RS_DF_1_normalized = (RS_DF_1_trimmed - RS_DF_1_trimmed.mean()) / (RS_DF_1_trimmed.max() - RS_DF_1_trimmed.min())

In [ ]:
RS_DF_1_normalized.head(3)

In [ ]:
RS_DF_1_normalized.max() - RS_DF_1_normalized.min()

In [ ]:
RS_DF_1_normalized.to_csv(path_or_buf='neural_df_normalized.csv')

In [ ]:
test_df_normalized = pd.read_csv('neural_df_normalized.csv')

In [ ]:
test_df_normalized.head(3)

In [ ]:
print(len(test_df_normalized))

In [ ]:
# Drop Unnamed Column from Read-in DataFrame
test_df_normalized = test_df_normalized.drop(test_df_normalized.columns[test_df_normalized.columns.str.contains('unnamed', case = False)],axis = 1)
test_df_normalized.head(4)

### Add Business Categories from Clustering Method

In [ ]:
add_cat_df = pd.read_csv('BusinessesWithLatentCategoriesNARROW.csv')

In [ ]:
add_cat_df.head(4)

In [ ]:
add_cat_df = add_cat_df.drop(add_cat_df.columns[add_cat_df.columns.str.contains('unnamed', case = False)],axis = 1)
add_cat_df.head(4)

In [ ]:
len(add_cat_df)

In [ ]:
dict10_business_CATGRY = dict(zip(add_cat_df.business_id, add_cat_df.businessLatentCategory))

In [ ]:
first2pairs = {k: dict10_business_CATGRY[k] for k in list(dict10_business_CATGRY)[:2]}
print(first2pairs)

In [ ]:
RS_DF_1['business_catgry'] = RS_DF_1.apply(lambda x:'o')

In [ ]:
RS_DF_1.head(4)

In [ ]:
def getVal2(id, dictionary):
    try:
        returnValue = dictionary[id]
    except:
        returnValue = "asdf"
    return returnValue

In [ ]:
RS_DF_1['business_catgry'] = RS_DF_1['business_id'].apply(lambda row:getVal2(row, dict10_business_CATGRY))

In [ ]:
RS_DF_1.head(4)

In [ ]:
RS_DF_1.isnull().sum()

### Re-Encode Categorical Data

In [ ]:
RS_DF_1['business_catgry'] = RS_DF_1['business_catgry'].astype('category')
RS_DF_1.dtypes

In [ ]:
RS_DF_1['business_catgry'] = RS_DF_1['business_catgry'].cat.codes
RS_DF_1.head(5)

### Re-Normalize Encoded Data

In [ ]:
RS_DF_1_normalized = (RS_DF_1 - RS_DF_1.mean()) / (RS_DF_1.max() - RS_DF_1.min())

In [ ]:
RS_DF_1_normalized.head(3)

In [ ]:
RS_DF_1_normalized.to_csv(path_or_buf='new_column.csv')