# Yelp and Regression

### Read in CSV

In [23]:
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV

In [24]:
session_conf = tf.ConfigProto(
      intra_op_parallelism_threads=1,
      inter_op_parallelism_threads=1)
sess = tf.Session(config=session_conf)

In [25]:
df = pd.read_csv('HOPEFUL.csv')

In [26]:
df = df.drop(df.columns[df.columns.str.contains('unnamed', case = False)],axis = 1)
df = df.drop(['business_id', 'date', 'user_id', 'user_cool', 'user_funny', 'user_userful', 'business_city', 'business_zip'], axis=1)
df.head(4)

,stars,name_of_month,day_of_week,user_average_stars,user_num_reviews,user_num_friends,business_num_reviews,business_average_stars,business_catgrylv2,business_catgrylv1,business_lat,business_long,lv1Cat_Av,lv2Cat_Av,zipCodeBusiness_Av,zipCodeUser_Av,zipCodeUser_WeightedAv,zipCodeUserCount
0,5,May,Saturday,4.67,6,1,1953,4.0,Bars,Breakfast & Brunch,45.516373,-73.577537,3.739232,3.731733,3.980257,3.779459,3.720424,2162
1,5,May,Saturday,4.67,6,1,84,4.0,Bars,Food,45.523333,-73.594859,3.719693,3.731733,4.031579,3.875368,3.711489,95
2,5,May,Saturday,4.67,6,1,50,4.5,Bars,Breakfast & Brunch,45.472902,-73.588321,3.739232,3.731733,4.280899,3.843488,3.927304,86
3,5,May,Saturday,4.67,6,1,70,4.0,Bars,Breakfast & Brunch,45.522144,-73.607076,3.739232,3.731733,3.943038,3.837975,3.851323,79

In [27]:
# Label Encode Categorical Data
# name_of_month
df['name_of_month'] = df['name_of_month'].astype('category')
df['name_of_month'] = df['name_of_month'].cat.codes

# day_of_week
df['day_of_week'] = df['day_of_week'].astype('category')
df['day_of_week'] = df['day_of_week'].cat.codes

# business_catgrylv2
df['business_catgrylv2'] = df['business_catgrylv2'].astype('category')
df['business_catgrylv2'] = df['business_catgrylv2'].cat.codes

# business_catgrylv1
df['business_catgrylv1'] = df['business_catgrylv1'].astype('category')
df['business_catgrylv1'] = df['business_catgrylv1'].cat.codes

# Check Categorization
df.head(3)

,stars,name_of_month,day_of_week,user_average_stars,user_num_reviews,user_num_friends,business_num_reviews,business_average_stars,business_catgrylv2,business_catgrylv1,business_lat,business_long,lv1Cat_Av,lv2Cat_Av,zipCodeBusiness_Av,zipCodeUser_Av,zipCodeUser_WeightedAv,zipCodeUserCount
0,5,8,2,4.67,6,1,1953,4.0,1,9,45.516373,-73.577537,3.739232,3.731733,3.980257,3.779459,3.720424,2162
1,5,8,2,4.67,6,1,84,4.0,1,22,45.523333,-73.594859,3.719693,3.731733,4.031579,3.875368,3.711489,95
2,5,8,2,4.67,6,1,50,4.5,1,9,45.472902,-73.588321,3.739232,3.731733,4.280899,3.843488,3.927304,86

In [28]:
# # Normalize
# df = (df - df.mean()) / (df.max() - df.min())
# df.head(3)

### Split into Train and Test Data

In [29]:
X = df.values[:, 1:]
print(X[:2])

[[ 8.00000000e+00  2.00000000e+00  4.67000000e+00  6.00000000e+00
   1.00000000e+00  1.95300000e+03  4.00000000e+00  1.00000000e+00
   9.00000000e+00  4.55163732e+01 -7.35775375e+01  3.73923183e+00
   3.73173337e+00  3.98025732e+00  3.77945883e+00  3.72042398e+00
   2.16200000e+03]
 [ 8.00000000e+00  2.00000000e+00  4.67000000e+00  6.00000000e+00
   1.00000000e+00  8.40000000e+01  4.00000000e+00  1.00000000e+00
   2.20000000e+01  4.55233326e+01 -7.35948595e+01  3.71969332e+00
   3.73173337e+00  4.03157895e+00  3.87536842e+00  3.71148943e+00
   9.50000000e+01]]

In [30]:
y = df.values[:, 0]
print(y[:2])

[5. 5.]

In [31]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

### Regression and Analysis

In [ ]:
lr = LogisticRegressionCV()
lr.fit(X_Train, Y_Train)

In [ ]:
print("Model Accuracy: {:.2f}".format(lr.score(X_Test, Y_Test)))